html, body {
  font-family: PingFangSC-Medium;
  line-height: normal;
  background: #F8F8F8;
}

.margin-bottom {
  height: 9px;
  background-color: #F8F8F8;
}

.weui-cells {
  margin: 0;
}

.toolbar .picker-button {
  color: #FD7A60;
}

.weui-cell:before {
  right: 15px;
}

.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #FD7A60;
}

.weui-swiped-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: normal;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.schedule {
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  color: #919191;
  letter-spacing: 0.4px;
  background-color: #fff;
  margin-bottom: 9px;
}
.schedule .step {
  height: 30px;
  line-height: 30px;
  padding-bottom: 5px;
  position: relative;
}
.schedule .step .pic {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 30px;
  height: 30px;
  color: #9FA8BC;
  background-image: url("../images/icon_order_gray_bg@2x.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.schedule .step .line {
  position: absolute;
  top: 14px;
  left: -50%;
  width: 100%;
  height: 2px;
  background: #F0F0F0;
}
.schedule .step_active {
  color: #FF5A1C;
}
.schedule .step_active .step .pic {
  background-image: url("../images/icon_order_bg@2x.png");
  color: #FFFFFF;
}
.schedule .step_active .step .line {
  background: #FD7A60;
}

.form_box {
  font-size: 16px;
  color: #303030;
  letter-spacing: 0.45px;
  line-height: normal;
}
.form_box .weui-cell {
  padding: 15px;
}
.form_box .weui-cell label {
  width: auto;
  padding-right: 24px;
}
.form_box .weui-cell input {
  height: auto;
  line-height: normal;
}
.form_box .pic-container {
  flex-direction: column;
  align-items: flex-start;
}
.form_box .pic-container .title {
  width: 100%;
}
.form_box .pic-box {
  padding-top: 10px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
}
.form_box .pic-box ul {
  float: left;
}
.form_box .pic-box li {
  float: left;
  width: 8rem;
  height: 5rem;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form_box .pic-box li img {
  max-width: 100%;
  max-height: 100%;
}
.form_box .pic-box li a {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background: url("../images/icon_photo_close@2x.png") no-repeat center;
  background-size: contain;
}
.form_box .pic-box .add-pic {
  float: left;
  position: relative;
  width: 8rem;
  height: 5rem;
  border: 1px dashed #BDBDBD;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.form_box .pic-box .add-pic:before {
  width: 2px;
  height: 40px;
}
.form_box .pic-box .add-pic:after {
  width: 40px;
  height: 2px;
}
.form_box .pic-box .add-pic:before, .form_box .pic-box .add-pic:after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #EAEAEA;
  border-radius: 4px;
}
.form_box .pic-box .add-pic input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form_box .pic-box .tool {
  text-align: center;
  font-size: 14px;
  color: #919191;
  letter-spacing: 0.4px;
}
.form_box .btn-box {
  padding: 30px;
  background-color: #F8F8F8;
}
.form_box .btn-box a {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #FD7A60;
  border-radius: 50px;
  font-size: 18px;
  color: #FFFFFF;
}
.form_box .btn-box .tool {
  padding-bottom: 8px;
  text-align: center;
  font-size: 12px;
  color: #696969;
}
.form_box .btn-box .prev-two {
  padding-right: 15px;
}
.form_box .btn-box .prev-two a {
  height: 44px;
  line-height: 44px;
  background: #fff;
  color: #FD7A60;
  border: 1px solid #FD7A60;
  border-radius: 25px;
}
.form_box .btn-box .next-two > a {
  border-radius: 25px;
}

.example {
  float: right;
  font-size: 14px !important;
  color: #188FE0 !important;
  letter-spacing: 0.4px;
  padding-right: 21px;
  background: url("../images/icon_illustrate@2x.png") no-repeat right center;
  background-size: 15px auto;
}

.pic_popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.65);
}
.pic_popup .pic_box {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 14.75rem;
  height: 14rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pic_popup .pic_box a {
  width: 29px;
  height: 29px;
  position: absolute;
  right: 0;
  top: -52px;
  background: url("../images/icon_close_recommend@2x.png") no-repeat center;
  background-size: contain;
}
.pic_popup .pic_box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.text_popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.65);
}
.text_popup .text_box {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 14.75rem;
  min-height: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border-radius: 14px;
}
.text_popup .text_box img {
  width: 68px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: -20px;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.text_popup .text_box a {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #FD7A60;
  border-radius: 0 0 14px 14px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 50px;
  text-align: center;
}
.text_popup .text_box .text-content {
  padding: 58px 25px 65px;
  text-align: center;
  font-size: 14px;
  color: #696969;
}

.weui-uploader__input-box {
  width: 98px;
  height: 98px;
}

#uploaderInput {
  height: 100%;
}

#uploaderFiles li {
  position: relative;
  width: 100px;
  height: 100px;
}
#uploaderFiles a {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background: url("../images/icon_photo_close@2x.png") no-repeat center;
  background-size: contain;
}

.training-box .tool {
  padding: 15px;
  position: relative;
  font-size: 16px;
  color: #919191;
  letter-spacing: 0.45px;
}
.training-box .tool:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
  color: #EAEAEA;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.training-box #trainingList .weui-cell_swiped {
  position: relative;
}
.training-box #trainingList .weui-cell_swiped:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
  color: #EAEAEA;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.training-box .training-inp {
  display: none;
}
.training-box .training-btn {
  display: block;
  padding: 12px 0 15px;
  text-align: center;
  font-size: 16px;
  color: #FF5A1C;
  letter-spacing: 0.45px;
}

.upload_head {
  width: 115px;
  height: 115px;
  margin: 15px auto 25px;
  position: relative;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload_head img {
  width: 100%;
  border-radius: 50%;
}
.upload_head a {
  width: 47px;
  height: 47px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../images/icon_add_head_portrait@2x.png") no-repeat center;
  background-size: contain;
}

.head_tool > p {
  padding-top: 10px;
  font-size: 14px;
  color: #696969;
  letter-spacing: 0.4px;
}

.submit-pic {
  display: block;
  width: 110px;
  height: auto;
  margin: 100px auto 18px;
}

.auditing-box {
  text-align: center;
  font-size: 14px;
  color: #696969;
}
.auditing-box .title {
  padding-bottom: 10px;
  font-size: 18px;
}
.auditing-box .submit-success > .title {
  color: #303030;
}
.auditing-box .submit-fail > .title {
  color: #FF0528;
}

.change-info-btn {
  position: fixed;
  left: 8%;
  bottom: 30px;
  width: 84%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #FD7A60;
  border-radius: 50px;
  font-size: 18px;
  color: #FFFFFF;
}

/*# sourceMappingURL=expert_enter.css.map */
