@charset "UTF-8";

$bgColor: #F8F8F8;   //背景色
$mainColor: #FD7A60; //主题色

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}
// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

html, body {
	font-family: PingFangSC-Medium;
	line-height: normal;
	background: $bgColor;
}
.margin-bottom {
	height: 9px;
	background-color: $bgColor;
}

.weui-cells {
	margin: 0;
}
.toolbar .picker-button {
	color: $mainColor;
}
.weui-cell:before {
	right: 15px;
}
.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
	color: $mainColor;
}
.weui-swiped-btn {
	display: -webkit-box;
    display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	line-height: normal;
	font-size: 16px;
	padding-top: 0;
	padding-bottom: 0;
}

// 申请进度
.schedule {
	padding: 10px 15px;
	text-align: center;
	font-size: 14px;
	color: #919191;
	letter-spacing: 0.4px;
	background-color: #fff;
	margin-bottom: 9px;
	& .step {
		height: 30px;
		line-height: 30px;
		padding-bottom: 5px;
		position: relative;
		& .pic {
			position: absolute;
			left: 50%;
			top: 0;
			z-index: 1;
			@include translate(-50%, 0);
			width: 30px;
			height: 30px;
			color: #9FA8BC;
			background-image: url('../images/icon_order_gray_bg@2x.png');
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
		& .line {
			position: absolute;
			top: 14px;
			left: -50%;
			width: 100%;
			height: 2px;
			background: #F0F0F0;
		}
	}
	& .step_active {
		color: #FF5A1C;
		& .step {
			& .pic {
				background-image: url('../images/icon_order_bg@2x.png');
				color: #FFFFFF;
			}
			& .line {
				background: $mainColor;
			}
		}
	}
}

.form_box {
	font-size: 16px;
	color: #303030;
	letter-spacing: 0.45px;
	line-height: normal;
	& .weui-cell {
		padding: 15px;
		& label {
			width: auto;
			padding-right: 24px;
		}
		& input {
			height: auto;
			line-height: normal;
		}
	}
	& .pic-container {
		flex-direction: column;
		align-items: flex-start;
		& .title {
			width: 100%;
		}
	}
	& .pic-box {
		padding-top: 10px;
		display: -webkit-flex; /* Safari */
  		display: flex;
		& ul {
			float: left;
		}
		& li {
			float: left;
			width: 8rem;
		    height: 5rem;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    list-style: none;
		    display: -webkit-flex; /* Safari */
  			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		    & img {
		    	max-width: 100%;
		    	max-height: 100%;
		    }
		    & a {
		    	position: absolute;
		    	top: 0;
		    	right: 0;
		    	width: 22px;
		    	height: 22px;
		    	background: url('../images/icon_photo_close@2x.png') no-repeat center;
				background-size: contain;
		    }
		}
		& .add-pic {
			float: left;
			position: relative;
		    width: 8rem;
		    height: 5rem;
		    border: 1px dashed #BDBDBD;
			border-radius: 4px;
			margin-right: 10px;
		    margin-bottom: 10px;
			&:before {
				width: 2px;
    			height: 40px;
			}
			&:after {
				width: 40px;
    			height: 2px;
			}
			&:before,
			&:after {
				content: " ";
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    @include translate(-50%, -50%);
			    background-color: #EAEAEA;
			    border-radius: 4px;
			}
			& input {
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
		& .tool {
			text-align: center;
			font-size: 14px;
			color: #919191;
			letter-spacing: 0.4px;
		}
	}
	& .btn-box {
		padding: 30px;
		background-color: $bgColor;
		& a {
			display: block;
			width: 100%;
			height: 46px;
			line-height: 46px;
			text-align: center;
			background: $mainColor;
			border-radius: 50px;
			font-size: 18px;
			color: #FFFFFF;
		}
		& .tool {
			padding-bottom: 8px;
			text-align: center;
			font-size: 12px;
			color: #696969;
		}
		& .prev-two {
			padding-right: 15px;
			& a {
				height: 44px;
				line-height: 44px;
				background: #fff;
				color: $mainColor;
				border: 1px solid $mainColor;
				border-radius: 25px;
			}
		}
		& .next-two>a {
			border-radius: 25px;
		}
	}
}

// 示例
.example {
	float: right;
	font-size: 14px !important;
	color: #188FE0 !important;
	letter-spacing: 0.4px;
	padding-right: 21px;
	background: url('../images/icon_illustrate@2x.png') no-repeat right center;
	background-size: 15px auto;
}

// 图片弹窗示例
.pic_popup {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.65);
	& .pic_box {
		display: -webkit-flex; /* Safari */
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 14.75rem;
		height: 14rem;
		position: fixed;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		& a {
			width: 29px;
			height: 29px;
			position: absolute;
			right: 0;
			top: -52px;
			background: url('../images/icon_close_recommend@2x.png') no-repeat center;
			background-size: contain;
		}
		& img {
	    	max-width: 100%;
	    	max-height: 100%;
	    	border-radius: 8px;
	    }
	}
}
// 文字弹窗示例
.text_popup {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.65);
	& .text_box {
		display: -webkit-flex; /* Safari */
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 14.75rem;
		min-height: 10rem;
		position: fixed;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		background: #FFFFFF;
		border-radius: 14px;
		& img {
			width: 68px;
			height: 70px;
			position: absolute;
			left: 50%;
			top: -20px;
			@include translate(-50%, 0);
		}
		& a {
			width: 100%;
			height: 50px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: $mainColor;
			border-radius: 0 0 14px 14px;
			font-size: 16px;
			color: #FFFFFF;
			line-height: 50px;
			text-align: center;
		}
		& .text-content {
			padding: 58px 25px 65px;
			text-align: center;
			font-size: 14px;
			color: #696969;
		}
	}
}

//多图片上传
.weui-uploader__input-box {
	width: 98px;
	height: 98px;
}
#uploaderInput {
	height: 100%;
}
#uploaderFiles {
	& li {
		position: relative;
		width: 100px;
		height: 100px;
	}
	& a {
		position: absolute;
    	top: 0;
    	right: 0;
    	width: 22px;
    	height: 22px;
    	background: url('../images/icon_photo_close@2x.png') no-repeat center;
		background-size: contain;
	}
}

// 受训背景
.training-box {
	& .tool {
		padding: 15px;
		position: relative;
		font-size: 16px;
		color: #919191;
		letter-spacing: 0.45px;
	}
	& .tool:before {
		content: " ";
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    height: 1px;
	    border-bottom: 1px solid #EAEAEA;
	    color: #EAEAEA;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	    z-index: 2;
	}
	& #trainingList {
		& .weui-cell_swiped {
			position: relative;
			&:before {
				content: " ";
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    right: 0;
			    height: 1px;
			    border-bottom: 1px solid #EAEAEA;
			    color: #EAEAEA;
			    -webkit-transform-origin: 0 0;
			    transform-origin: 0 0;
			    -webkit-transform: scaleY(.5);
			    transform: scaleY(.5);
			    z-index: 2;
			}
		}
	}
	& .training-inp {
		display: none;
	}
	& .training-btn {
		display: block;
		padding: 12px 0 15px;
		text-align: center;
		font-size: 16px;
		color: #FF5A1C;
		letter-spacing: 0.45px;
	}
}

// 上传头像
.upload_head {
	width: 115px;
	height: 115px;
	margin: 15px auto 25px;
	position: relative;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: center;
	align-items: center;
	& img {
		width: 100%;
		border-radius: 50%;
	}
	& a {
		width: 47px;
		height: 47px;
		position: absolute;
		right: 0;
		bottom: 0;
		background: url('../images/icon_add_head_portrait@2x.png') no-repeat center;
		background-size: contain;
	}
}
.head_tool>p {
	padding-top: 10px;
	font-size: 14px;
	color: #696969;
	letter-spacing: 0.4px;
}

.submit-pic {
	display: block;
	width: 110px;
	height: auto;
	margin: 100px auto 18px;
}
.auditing-box {
	text-align: center;
	font-size: 14px;
	color: #696969;
	& .title {
		padding-bottom: 10px;
		font-size: 18px;
	}
	& .submit-success>.title {
		color: #303030;
	}
	& .submit-fail>.title {
		color: #FF0528;
	}
}
.change-info-btn {
	position: fixed;
	left: 8%;
	bottom: 30px;
	width: 84%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background: $mainColor;
	border-radius: 50px;
	font-size: 18px;
	color: #FFFFFF;
}