@charset "UTF-8";

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    -moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}


/* ==== css reset ==== */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Lantinghei SC", "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

body {
    /*font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,PingFang SC,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;*/
    font-family: PingFangSC-Medium, "Lantinghei SC", "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #F9F9F9; // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
}

a,
a:link {
    text-decoration: none;
}

.wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.card {
    margin-top: 6px;
    padding: 0 15px;
    background-color: #fff;
}

// 专辑列表
.top {
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-family: PingFangSC-Medium;
    padding: 0 15px;
    & .logo {
        width: 132px;
        padding-top: 10px;
    }
    & a {
        float: right;
        margin-top: 11px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.38px;
        padding: 4px 6px;
        border-radius: 4px;

        background: -moz-linear-gradient(left, #FB894B 0%, #F85863 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #FB894B 0%, #F85863 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #FB894B 0%, #F85863 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB894B', endColorstr='#F85863', GradientType=1);
        /* IE6-9 */
    }
    &.shadow {
        position: relative;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
    }
}

.binner {
    width: 100%;
    height: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    font-family: PingFangSC-Medium;
    & .mb {
        width: 100%;
        height: 100%;
        overflow: hidden;

        -webkit-filter: blur(2px);
        /* Chrome, Opera */
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
        /* IE6~IE9 */
    }
    & .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px;
        background-color: rgba(0, 0, 0, .4);
        & img {
            float: left;
            width: 75px;
            height: 75px;
            border-radius: 4px;
        }
        &>div {
            margin-left: 87px;
        }
        & .title {
            padding-bottom: 12px;
            font-size: 16px;
            color: #FFFFFF;
        }
        & .anchor {
            height: 20px;
            line-height: 20px;
            & img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
            & span {
                padding-left: 6px;
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                color: #FFFFFF;
            }
        }
    }
}

.synopsis {
    padding: 15px;
    background-color: #fff;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #919191;
    &>div {
        overflow: hidden;
    }
    & .synopsis_title {
        float: left;
        line-height: 20px;
    }
    & .label {
        float: left;
        margin: 0 3px;
        padding: 1px 10px;
        border: 1px solid #F0F0F0;
        border-radius: 50px;
    }
    & .detail-box {
        padding-top: 12px;
        position: relative;
        height: 70px;
    }
    & .detail {
        line-height: 18px;
    }
    & .arrow_pic {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url('../images/icon_up@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px auto;
        &.up_detail {
            background-image: url('../images/icon_down@2x.png');
            background-size: 16px auto;
        }
    }
}

.list_title {
    padding: 7px 15px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #919191;
}

.list_box {
    background-color: #fff;
    & li {
        padding: 12px 15px;
        font-family: PingFangSC-Medium;
        & .title {
            padding-bottom: 5px;
            font-size: 14px;
            color: #303030;
            & span {
                float: right;
                font-size: 12px;
                color: #696969;
            }
        }
        & .data {
            font-size: 12px;
            color: #696969;
            & span {
                padding-right: 12px;
            }
        }
    }
}

.play_box {
    background-color: #fff;
    font-family: PingFangSC-Medium;
    overflow: hidden;
    & img {
        display: block;
        width: 235px;
        height: 235px;
        margin: 30px auto 16px;
        border-radius: 10px;
        box-shadow: 0 36px 8px -30px rgba(0, 0, 0, 0.20);
    }
    & .play_name {
        padding: 0 15px;
        text-align: center;
        font-size: 16px;
        color: #303030;
        letter-spacing: 0.44px;
    }
    & .play_author {
        padding: 5px 15px 15px;
        text-align: center;
        font-size: 13px;
        color: #696969;
        letter-spacing: 0.36px;
    }
    & .schedule_wrapper {
        margin: 0 auto;
        width: 235px;
        height: 20px;
    }
    & .schedule_bar {
        width: 100%;
        height: 2px;
        background: #ECECEC;
        position: relative;
        top: 9px;
        & .playing_bar {
            width: 0;
            height: 2px;
            background: #FF5A1C;
            position: absolute;
            left: 0;
            top: 0;
        }
        & .playing_ball {
            width: 20px;
            height: 20px;
            background: url('../images/icon_progress bar@2x.png') no-repeat center;
            background-size: 100% auto;
            position: absolute;
            left: 0;
            top: -9px;
        }
    }
    & .schedule_time {
        padding-top: 2px;
        width: 250px;
        margin: 0 auto;
        height: 18px;
        font-size: 12px;
        color: #919191;
        letter-spacing: 0.67px;
        & .start_time {
            float: left;
        }
        & .total_time {
            float: right;
        }
    }
    & .play_btns {
        padding: 20px 0;
        margin: 0 auto;
        width: 200px;
        overflow: hidden;
        & span {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
        }
        & span.prev {
            float: left;
            margin-top: 21px;
            width: 25px;
            height: 28px;
            background-image: url('../images/icon_radio_left@2x.png');
            &.disable {
                background-image: url('../images/icon_radio_left_gray@2x.png');
            }
        }
        & span.next {
            float: right;
            margin-top: 21px;
            width: 25px;
            height: 28px;
            background-image: url('../images/icon_radio_right@2x.png');
            &.disable {
                background-image: url('../images/icon_radio_right_gray@2x.png');
            }
        }
        & span.play {
            float: left;
            margin-left: 40px;
            width: 70px;
            height: 70px;
            background-image: url('../images/icon_play_radio@2x.png');
            &.disable {
                background-image: url('../images/icon_play_radio_gray@2x.png');
            }
        }
        & span.pause {
            float: left;
            margin-left: 40px;
            width: 70px;
            height: 70px;
            background-image: url('../images/icon_suspend_radio@2x.png');
        }
    }
}

.anchor_box {
    height: 65px;
    padding: 0 15px 20px;
    background-color: #fff;
    & img {
        float: left;
        width: 45px;
        height: 45px;
        border-radius: 4px;
    }
    & .anchor_right {
        margin-left: 57px;
        height: 100%;
        position: relative;
        & a {
            position: absolute;
            top: 10px;
            right: 5px;
            font-size: 12px;
            color: #FF5A1C;
            border: 1px solid #FF5A1C;
            border-radius: 20px;
            padding: 4px 15px;
        }
    }
    & .anchor_name {
        padding: 3px 0 4px;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #303030;
        letter-spacing: 0.46px;
    }
    & .anchor_data {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: #878787;
        letter-spacing: 0.22px;
        & span {
            margin-right: 10px;
        }
    }
}

.program_info {
    position: relative;
    padding-top: 12px;
    font-family: PingFangSC-Medium;
    color: #919191;
    & .program_btn {
        cursor: pointer;
    }
    & .title {
        padding-bottom: 4px;
        font-size: 18px;
        color: #303030;
        letter-spacing: 0.5px;
    }
    & .time,
    & .count {
        font-size: 12px;
        color: #919191 !important;
        letter-spacing: 0;
        line-height: 14px;
        margin-right: 6px;
    }
    & .arrow_pic {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 28px;
        background-image: url('../images/icon_up@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        &.up_detail {
            background-image: url('../images/icon_down@2x.png');
            background-size: 100% auto;
        }
    }
    & .program_text {
        padding-top: 7px;
        font-size: 14px;
        color: #919191;
        letter-spacing: 0.46px;
        line-height: 24px;
    }
}

.program_list {
    font-family: PingFangSC-Medium;
    & .title {
        padding-top: 12px;
        font-size: 14px;
        color: #303030;
        letter-spacing: 0.46px;
    }
    & li {
        position: relative;
        height: 100px;
        padding: 15px 0;
        cursor: pointer;
        &:not(:last-child):before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid #EAEAEA;
            color: #EAEAEA;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            z-index: 2;
        }
        & img {
            float: left;
            width: 70px;
            height: 70px;
        }
        & .list {
            margin-left: 80px;
            height: 100%;
        }
        & .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            color: #303030;
            letter-spacing: 0.23px;
        }
        & .data {
            padding: 5px 0;
            font-size: 13px;
            color: #919191;
            letter-spacing: 0.19px;
            & span {
                margin-right: 6px;
                & i {
                    font-style: normal;
                    color: #FF5A1C;
                }
            }
        }
        & .author {
            font-size: 13px;
            color: #919191;
            letter-spacing: 0.19px;
            padding-left: 14px;
            background: url('../images/icon_people@2x.png') no-repeat left center;
            background-size: 11px auto;
        }
    }
}

.program_discuss {
    font-family: PingFangSC-Medium;
    padding-bottom: 23px;
    & .title {
        padding: 12px 0 3px;
        font-size: 14px;
        color: #303030;
        letter-spacing: 0.46px;
    }
    & li {
        padding: 15px 0 12px;
        position: relative;
        &:not(:last-child):before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid #EAEAEA;
            color: #EAEAEA;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            z-index: 2;
        }
        & .discuss_user {
            height: 38px;
            padding-bottom: 8px;
            & img {
                float: left;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            & .user_info {
                margin-left: 36px;
                height: 100%;
            }
            & .name {
                font-size: 13px;
                color: #696969;
                letter-spacing: 0.39px;
            }
            & .time {
                font-size: 12px;
                color: #919191;
                letter-spacing: 0.28px;
                -webkit-transform: scaleY(.8);
                transform: scaleY(.8);
            }
        }
        & .discuss_text {
            font-size: 12px;
            color: #919191;
            letter-spacing: 0.34px;
            line-height: 18px;
        }
    }
}

.bottom_link {
    display: block;
    width: 100%;
    height: 60px;
    background: #fff url('../images/icon_download_bg@2x.png') no-repeat center;
    background-size: 100% auto;
}

//弹窗
.alert, 
.confirm {
    display: none;
    animation: confirm-fadein 0.3s;
    -webkit-animation: confirm-fadein 0.3s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, .2);
    & .confirm-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        z-index: 999;
    }
    & .confirm-content {
        animation: confirm-zoom 0.3s;
        -webkit-animation: confirm-zoom 0.3s;
        width: 270px;
        border-radius: 13px;
        background: #fff;
        & .text {
            padding: 15px 7px;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            color: #919191;
        }
        & .operate {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 12px;
        }
        & .operate-btn {
            flex: 1;
            line-height: 18px;
            padding: 10px 0;
            border-top: 1px solid #EAEAEA;
            color: #919191;
            &.left {
                border-right: 1px solid #EAEAEA;
            }
        }
    }  
}
@keyframes confirm-fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes confirm-zoom {
    0% {
        @include scale(0);
    }
    50% {
        @include scale(1.1);
    }
    100% {
        @include scale(1);
    }
}

.layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 3;
    & img {
        display: block;
        margin: 20px auto;
        width: 240px;
    }
}

// 动态分享
.dynamic {
    font-family: PingFangSC-Medium;
    line-height: normal;
    background-color: #f0f0f0;
    &>div {
        background-color: #fff;
    }
    & .header {
        padding: 18px 15px 10px;
        overflow: hidden;
        & .left {
            float: left;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            & img {
                width: 100%;
            }
        }
        & .right {
            margin-left: 45px;
            & .author {
                overflow: hidden;
                padding-bottom: 1px;
            }
            & .name {
                float: left;
                font-size: 15px;
                color: #303030;
            }
            & .sex {
                float: left;
                width: 14px;
                height: 14px;
                margin-left: 4px;
                margin-top: 3px;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                &.woman {
                    background-image: url('../images/girl.png');
                }
                &.man {
                    background-image: url('../images/boy.png');
                }
            }
            & .time {
                font-size: 12px;
                color: #919191;
            }
        }
    }
    & .content {
        & .title {
            padding: 0 15px;
            font-size: 18px;
            color: #303030;
        }
        & .text {
            padding: 5px 15px 0;
            font-size: 14px;
            color: #696969;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        & .check_detail {
            display: inline-block;
            padding: 6px 15px 10px;
            font-size: 14px;
            color: #5192C9;
        }
    }
    & .footer {
        overflow: hidden;
        padding: 0 13px 12px 15px;
        & a {
            padding: 0;
            height: 20px;
            font-size: 12px;
            color: #919191;
            & span {
                margin-right: 8px;
            }
            & .weui-cell__ft {
                font-size: 0;
                & img {
                    border: 1px solid #fff;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                & img:not(:last-child) {
                    margin-right: -6px;
                }
            }
        }
    }
    // 图片列表
    & .pic_list {
        padding: 8px 12px 8px 15px;
        overflow: hidden;
        & div {
            width: 32%;
            margin-right: 3px;
            margin-bottom: 3px;
            float: left;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    }
    // 音频
    & .audio_box {
        padding: 8px 15px 15px;
    }
}
.audio_bar {
    cursor: pointer;
    width: 180px;
    height: 30px;
    background: #6CC5FA;
    border-radius: 8px;
    box-shadow: 0 10px 15px -10px #6CC5FA;
    &.opacity_bar {
        animation: opacityBar 1.2s linear infinite;
        -webkit-animation: opacityBar 1.2s linear infinite; /* Safari 和 Chrome */
    }
    & i {
        width: 15px;
        height: 15px;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 8px;
    }
    & .icon_audio {
        margin-left: 8px;
        background-image: url('../images/icon_listen_voice@2x.png');
        &.load_audio {
            animation: loadAudio 0.5s linear infinite;
            -webkit-animation: loadAudio 0.5s linear infinite; /* Safari 和 Chrome */
            background-image: url('../images/icon_voice_loading@2x.png');
        }
    }
    & .icon_audio_2 {
        margin-left: 5px;
        background-image: url('../images/icon_listen_voice_2@2x.png');
    }
    & .time {
        float: right;
        margin-right: 8px;
        line-height: 30px;
        font-size: 12px;
        color: #FFFFFF !important;
    }
}
.photo-container {
    justify-content: center;
    & img {
        max-height: 100%;
    }
}
.weui-photo-browser-modal {
    z-index: 3;
}
// 评论列表
.criticism_box {
    margin-top: 9px;
    background-color: #fff;
    font-family: PingFangSC-Medium;
    & h4 {
        padding: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #919191;
        position: relative;
        &:before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid #D7D7D7;
            color: #D7D7D7;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            z-index: 2;
        }
    }
    & .criticism_list {
        position: relative;
        &:before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid #D7D7D7;
            color: #D7D7D7;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            z-index: 2;
        }
        & li {
            padding: 15px 0 0 12px;
            overflow: hidden;
        }
        & li:not(:last-child) {
            & .right {
                &:before {
                    content: " ";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 1px;
                    border-bottom: 1px solid #D7D7D7;
                    color: #D7D7D7;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    -webkit-transform: scaleY(.5);
                    transform: scaleY(.5);
                    z-index: 2;
                }
            }
        }
        & .left {
            float: left;
            width: 40px;
            position: relative;
        }
        & img {
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0 auto;
        }
        & .icon_zxs {
            width: 100%;
            height: 14px;
            background: url('../images/icon_counselor_sign@2x.png') no-repeat center;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: -6px;
        }
        & .icon_zb {
            width: 100%;
            height: 14px;
            background: url('../images/icon_anchor@2x.png') no-repeat center;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: -6px;
        }
        & .right {
            padding-right: 15px;
            padding-bottom: 15px;
            line-height: normal;
            margin-left: 48px;
            position: relative;
            & .author {
                overflow: hidden;
                padding-bottom: 1px;
            }
            & .name {
                float: left;
                font-size: 15px;
                color: #303030;
            }
            & .sex {
                float: left;
                width: 14px;
                height: 14px;
                margin-left: 4px;
                margin-top: 3px;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                &.woman {
                    background-image: url('../images/girl.png');
                }
                &.man {
                    background-image: url('../images/boy.png');
                }
            }
            & .time {
                font-size: 12px;
                color: #919191;
            }
            & .quote {
                margin-top: 8px;
                padding: 8px 6px;
                background: #F3F8F7;
                & span:first-child {
                    color: #FF5A1C;
                }
                & span {
                    font-size: 12px;
                    color: #919191;
                    line-height: normal;
                }
                & .icon_v {
                    display: inline-block;
                    vertical-align: middle;
                    width: 12px;
                    height: 16px;
                    background: url('../images/icon_v@2x.png') no-repeat center top;
                    background-size: contain;
                }
                & .audio_bar {
                    width: 150px;
                    display: inline-block;
                    vertical-align: top;
                    & .time {
                        margin-top: 8px;
                    }
                }
            }
            & .content {
                padding-top: 8px;
                font-size: 12px;
                color: #696969;
                letter-spacing: 0.33px;
            }
        }
    }
}
.more_program {
    padding: 12px 0;
    background-color: #fff;
    text-align: center;
    & a {
        display: inline-block;
        width: 85%;
        height: 36px;
        line-height: 36px;
        border: 1px solid #FF5A1C;
        border-radius: 50px;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #FF5A1C;
        letter-spacing: 0.4px;
    }
}

@keyframes opacityBar {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}
@-webkit-keyframes opacityBar {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}
@keyframes loadAudio {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -webkit-transform: rotate(0deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes loadAudio {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -webkit-transform: rotate(0deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(360deg);
    }
}